*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #373737;
}

/*selector de tipo*/

h3{

  position: relative;
  font-size: 20px;
  color: #f9f9f9;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* selector por id*/

#form{
  position: relative;
}

#form #email{

  width: 380px;
  background: #292929;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
}

#form .inputBox{

  position: relative;

}

#text{
  display: block;
  color: #000;
  font-weight: 500;
  font-style: italic;
  padding: 5px;

}

#form.invalid .inputBox:before
{
  content: '';
  position: absolute;
  right: 12px;
  top: 9px;
  width: 24px;
  height: 24px;
  background: url(invalid.png);
  background-size: cover;
  z-index: 1000;
}

#form.valid .inputBox:before
{
  content: '';
  position: absolute;
  right: 12px;
  top: 9px;
  width: 24px;
  height: 24px;
  background: url(valid.png);
  background-size: cover;
  z-index: 1000;
}